html
    head
        title='register'
        style
            include styles.css
    body
        h1="Registrarse"
        div
            form(action="/register" method="POST") 
                input(type="text" name="username" placeholder="usuario")
                input(type="text" name="password" placeholder="contraseña")
                input(type="submit" value="Enviar")
        a(href="/login") Iniciar sesion 
